<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.magiccube.mxtool.eclipse.builders.mxBuilder"
         name="MagicCube MXBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.magiccube.mxtool.eclipse.builders.MXBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.magiccube.mxtool.eclipse.builders.mxNature"
         name="MagicCube MXNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.magiccube.mxtool.eclipse.builders.MXNature">
         </run>
      </runtime>
      <builder
            id="org.magiccube.mxtool.eclipse.builders.mxBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="MXFramework"
            class="org.magiccube.mxtool.eclipse.properties.MXProjectPropertyPage"
            id="org.magiccube.mxtool.eclipse.properties.mxProjectPropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFolder"
            id="org.magiccube.mxtool.eclipse.contribution1">
         <menu
               label="MXFramework"
               path="additions"
               id="org.magiccube.mxtool.eclipse.menus.folderMenu">
            <separator
                  name="newGroup">
            </separator>
         </menu>
         <action
               label="New MXApplication"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXAppClassAction"/>
         <action
               label="New MXScene"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXSceneClassAction"/>
        <action
               label="New MXView"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXViewClassAction"/>
        <action
               label="New MXComponent Subclass"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXComponentClassAction"/>
         <action
               label="New MXObject Subclass"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXObjectClassAction"/>
       </objectContribution>
   </extension>
   <extension
         id="org.magiccube.mxtool.eclipse.builders.mxBuilderProblem"
         name="MXBuilder Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="MagicCube MXFramework"
            id="org.magiccube.mxtool.eclipse">
      </category>
      <wizard
            name="New MXObject Subclass"
            icon="icons/sample.gif"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXObjectClassWizard"/>
      <wizard
            name="New MXComponent Subclass"
            icon="icons/sample.gif"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXComponentClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXComponentClassWizard"/>
      <wizard
            name="New MXView"
            icon="icons/sample.gif"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXViewClassWizard"/>
      <wizard
            name="New MXScene"
            icon="icons/sample.gif"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXSceneClassWizard"/>
      <wizard
            name="New MXApplication"
            icon="icons/sample.gif"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXAppClassWizard"/>
   </extension>

</plugin>
