<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.magiccube.mxtool.eclipse.builders.mxBuilder"
         name="MagicCube MXBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.magiccube.mxtool.eclipse.builders.MXBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.magiccube.mxtool.eclipse.builders.mxNature"
         name="MagicCube MXFramework"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.magiccube.mxtool.eclipse.builders.MXNature">
         </run>
      </runtime>
      <builder
            id="org.magiccube.mxtool.eclipse.builders.mxBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="MXFramework"
            class="org.magiccube.mxtool.eclipse.properties.MXProjectPropertyPage"
            id="org.magiccube.mxtool.eclipse.properties.mxProjectPropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
    
    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFolder"
            id="org.magiccube.mxtool.eclipse.contribution1">
         <menu
               label="MXFramework"
               path="additions"
               id="org.magiccube.mxtool.eclipse.menus.folderMenu">
            <separator
                  name="newGroup">
            </separator>
         </menu>
         <action
               label="New MX Application"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXAppClassAction"/>
         <action
               label="New MX Scene"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXSceneClassAction"/>
        <action
               label="New MX View"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXViewClassAction"/>
        <action
               label="New MXComponent Subclass"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXComponentClassAction"/>
         <action
               label="New MXObject Subclass"
               class="org.magiccube.mxtool.eclipse.actions.NewMXClassAction"
               menubarPath="org.magiccube.mxtool.eclipse.menus.folderMenu/newGroup"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.newMXObjectClassAction"/>
       </objectContribution>
       
       
        <objectContribution
            id="org.magiccube.mxtool.eclipse.contribution2"
            objectClass="org.eclipse.core.resources.IFile">
            <menu
               id="org.magiccube.mxtool.eclipse.menus.fileMenu"
               label="MXFramework"
               path="additions">
                <separator
                    name="newGroup">
                </separator>
            </menu>
            <action
               class="org.magiccube.mxtool.eclipse.actions.CopyMXQualifiedNameAction"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.copyAsMeGetResourcePath"
               label="Copy as me.getResourcePath()"
               menubarPath="org.magiccube.mxtool.eclipse.menus.fileMenu/newGroup">
            </action>
            <action
               class="org.magiccube.mxtool.eclipse.actions.CopyMXQualifiedNameAction"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.copyAsMXGetResourcePath"
               label="Copy as mx.getResourcePath()"
               menubarPath="org.magiccube.mxtool.eclipse.menus.fileMenu/newGroup">
            </action>
            <action
               class="org.magiccube.mxtool.eclipse.actions.CopyMXQualifiedNameAction"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.copyAsInclude"
               label="Copy as $import() / $include()"
               menubarPath="org.magiccube.mxtool.eclipse.menus.fileMenu/newGroup">
            </action>
            <action
               class="org.magiccube.mxtool.eclipse.actions.CopyMXQualifiedNameAction"
               enablesFor="1"
               id="org.magiccube.mxtool.eclipse.actions.copyAsMXQualifiedName"
               label="Copy as MX Classified Name"
               menubarPath="org.magiccube.mxtool.eclipse.menus.fileMenu/newGroup">
            </action>
      </objectContribution>
      
      
      
      
      
   </extension>
   <extension
         id="org.magiccube.mxtool.eclipse.builders.mxBuilderProblem"
         name="MXBuilder Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="MagicCube MXFramework"
            id="org.magiccube.mxtool.eclipse">
      </category>
      <wizard
            name="New MXObject Subclass"
            icon="icons/mx.png"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXObjectClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXObjectClassWizard"/>
      <wizard
            name="New MXComponent Subclass"
            icon="icons/mx.png"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXComponentClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXComponentClassWizard"/>
      <wizard
            name="New MX View"
            icon="icons/mx.png"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXViewClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXViewClassWizard"/>
      <wizard
            name="New MX Scene"
            icon="icons/mx.png"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXSceneClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXSceneClassWizard"/>
      <wizard
            name="New MX Application"
            icon="icons/mx.png"
            category="org.magiccube.mxtool.eclipse"
            class="org.magiccube.mxtool.eclipse.wizards.NewMXAppClassWizard"
            id="org.magiccube.mxtool.eclipse.wizards.newMXAppClassWizard"/>
   </extension>

</plugin>
